/* Index page styles */

@font-face {
    font-family: Nexa;
    src: url(font/NexaDemo-Bold.woff);
}

html, body {
    height: 100%;
    margin: 0;
    background-color: #FFFFFF;
    min-width: 1050px;
}

h1, p {
    font-family: Nexa, Calibri, 'Trebuchet MS', sans-serif;
}

b {
    color: #E26D5A;
}

a {
    color: #BBB09B;
}

button {
    background-color: #BBB09B;
    border-width: 0px;
    padding: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #928163;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#header__logo {
    font-size: 4rem;
}

#header__verticalbar {
    height: 120px;
    width: 1px;
    background-color: lightgrey;
    margin-left: 2em;
    margin-right: 2em;
}

#header__other {
    display: flex;
    flex-flow: column;
}

#header__other p {
    margin: 0;
    margin-bottom: 0.2rem;
}

.after {
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 2.5em;
}

.after p {
    font-size: 1.2em;
}

#after__weeks-container > * {
    height: 15px;
    width: 15px;
    margin: auto 1px;
    display: inline-block;
}

#after__weeks-container > p {
    margin-right: 25px;
}

#after__weeks-container > div {
    border-radius: 100%;
    border: 1px black solid;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 5em;
    margin-bottom: 2em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.footer p {
    margin: 0 15px;
}

/* Age page styles */

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#age {
    display: flex;
    flex-flow: column nowrap;
}

#age p {
    margin: 0;
    margin-bottom: 0.2rem;
}

#age__display__parent {
    display: none;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#age__display {
    font-size: 10rem;
    width: 1150px;
}
